<div class="container-fluid">
  <h4><strong>{{dataCtrl.data.title}}</strong></h4>
  <div class="row" *ngIf="!loading"style="margin-top:10px; margin-bottom: 30px;">
    <div class="col-md-6">
      <p><b>Description</b></p>
      <p>{{dataCtrl.data.description}}</p>
    </div>
  
    <div class="col-md-6">
      <p><strong>Metadata</strong></p>
      <ul>
        <li *ngFor="let creator of dataCtrl.data.creators.items">{{creator.name}}: {{creator.role}} </li>
        <li>Format: {{dataCtrl.data.format}}</li>
        <li>ISBN:: {{dataCtrl.data.isbn}}</li>
        <li *ngFor="let price of dataCtrl.data.prices">{{price.type}}: {{price.price}} </li>
      </ul>
    </div>
    <br>
    <p><button type="button" class="btn btn-secondary btn-lg btn-block" (click)="back()">Back</button></p>
  </div>

  <div class="row" *ngIf="loading" style="text-align:center; margin-top:100px;">
      <div class="col-md-12">
        <i class="fa fa-spinner fa-spin" style="font-size:100px"></i>
        <p>loading...</p>
      </div>
  </div>
</div>
